# llano V12 Ultra laptop cooler (Myth.Cool software) - Holtek USB-HID controller
SUBSYSTEM=="usb", ATTR{idVendor}=="374a", ATTR{idProduct}=="b101", MODE="0660", GROUP="plugdev", TAG+="uaccess"
KERNEL=="hidraw*", ATTRS{idVendor}=="374a", ATTRS{idProduct}=="b101", MODE="0660", GROUP="plugdev", TAG+="uaccess"
